 body {
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background: #f0f0f0;
      font-family: Georgia, serif;
    }

    .livro {
      position: relative;
      width: 500px;
      height: 600px;
      perspective: 2000px;
    }

    /* fundo central, ajustado ao espaço entre páginas */
    .fundo {
      position: absolute;
      width: 0; /* largura inicial zero */
      height: 95%;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background: linear-gradient(to bottom, #ffe, #ffc);
      display: flex;
      justify-content: center;
      align-items: center;
      color: #333;
      font-size: 22px;
      text-align: center;
      padding: 20px;
      opacity: 0;
      transition: opacity 1s ease, width 1s ease;
      pointer-events: none;
    }

    .livro.aberto .fundo {
      width: 92.5%; /* ocupa exatamente o espaço entre as páginas abertas */
      opacity: 1;
      pointer-events: auto;
    }

    .pagina {
      position: absolute;
      width: 50%;
      height: 101.5%;
      border: 1px solid #ccc;
      overflow: hidden;
      cursor: pointer;
      transform-style: preserve-3d;
      transition: transform 1s ease;
    }






    /* esquerda e direita */
    .pagina.esq {
      width: 60%;
      left: 0;
      transform-origin: left center;
      background-color: rgb(181, 199, 151);
    }

    .pagina.dir {
      width: 40%;
      right: 0;
      transform-origin: right center;
      background-color: rgb(181, 199, 151)
    }







    /* conteúdo da página */
    .pagina .conteudo {
      text-align: center;
      padding: 20px;
      color: #333;
    }

    /* efeito ao abrir */
    .livro.aberto .pagina.esq {
      transform: rotateY(-130deg);
    }

    .livro.aberto .pagina.dir {
      transform: rotateY(130deg);
    }

    .livro.aberto .pagina.esq::before {
      transform: rotateZ(-45deg) translate(10px, -10px);
    }

    .livro.aberto .pagina.dir::after {
      transform: rotateZ(45deg) translate(-10px, -10px);
    }




.letras {
  width: 120%;
  height: 100%;

  position: absolute;
  top: 0%;
  left: -10%;
}

.rosas, .sombra {
  width: 500px;
  height: 620px;

  position: absolute;
  top: 0%;
  left: -150%;

}